# --- Kedro & Data
data/
conf/local/

# --- Jupyter
**/.ipynb_checkpoints/
*.ipynb_checkpoints

# --- Python / uv
.venv/
__pycache__/
*.py[cod]
.mypy_cache/
.pytest_cache/
.coverage
htmlcov/
.ruff_cache/
*.egg-info/
uv.lock
.viz/

# --- OS / IDE
.DS_Store
.idea/
.vscode/

# --- Motif CLI Binaries
tools/motif-cli
tools/motif-cli.exe

# --- Output Files
*.log

# --- Temp Folder
temp/
